.about-text {
    font-size: 16px;
}

.text-container {
    border: 3px;
    border-color: white;
    width:80%
}

.center-container{
    display:flex;
    justify-content: center;
}

/*
.about-text:hover {
    font-size: 16px;
    color: red;
}
*/
