@font-face {
    font-family: STM_Medium;
    src: url(/fonts/SometypeMono-Medium.ttf);
  }

body {
background-color: rgb(37, 36, 36);
color: rgb(228, 225, 225);
font-family: STM_Medium;
}

.grid-container {
    display: grid;
    gap: 5px;  
    font-size: 16px;
    grid-template-columns: auto auto auto auto;
    padding: 3px;
}

.grid-container > div {
    border: 1px solid rgb(0, 184, 58);
    text-align: center;
    font-size: 16px;
    width: fit-content;
  }

.page-borders{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
}